In [2]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
from nltk.corpus import stopwords
import re
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from pprint import pprint

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\91907\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
df = pd.read_csv('zomato.csv')

In [4]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [5]:
col = ['url','address','phone','menu_item','listed_in(type)','listed_in(city)']

In [6]:
df = df.drop(labels = col,axis = 1)

In [8]:
# df.reviews_list[1]

In [9]:
# pattern = "\(\\'.+\)\\'\)"
# re.findall(pattern,df.reviews_list[1])
# df[df.name=='Jalsa']

In [10]:
df_review = df[['name','rest_type','reviews_list']]
df_review.reset_index(drop = 'index',inplace = True)

In [12]:
df_review.head()

,name,rest_type,reviews_list
0,Jalsa,Casual Dining,"[('Rated 4.0', 'RATED\n A beautiful place to ..."
1,Spice Elephant,Casual Dining,"[('Rated 4.0', 'RATED\n Had been here for din..."
2,San Churro Cafe,"Cafe, Casual Dining","[('Rated 3.0', ""RATED\n Ambience is not that ..."
3,Addhuri Udupi Bhojana,Quick Bites,"[('Rated 4.0', ""RATED\n Great food and proper..."
4,Grand Village,Casual Dining,"[('Rated 4.0', 'RATED\n Very good restaurant ..."

In [15]:
df_review.reviews_list.replace(to_replace=r'\\n',value=' ',regex=True,inplace=True)
df_review.reviews_list.replace(to_replace=r"'\(',",value=' ',regex=True,inplace=True)
df_review.reviews_list.replace(to_replace=r'"',value="'",regex=True,inplace=True)
# df_casual_sample.replace(to_replace=r"\(\'Rated \d\.0\'\,",value='',regex=True,inplace=True)
# df_casual_sample.replace(to_replace=r"[^a-zA-Z]",value=' ',regex=True,inplace=True)
# df_casual_sample.replace(to_replace=r"\s+",value=' ',regex=True,inplace=True)

In [97]:
# df_casual_review.replace(to_replace=r"'\(',",value=' ',regex=True,inplace=True)

In [98]:
# df_casual_review.replace(to_replace=r'"',value="'",regex=True,inplace=True)

In [16]:
df_review.head()

,name,rest_type,reviews_list
0,Jalsa,Casual Dining,"[('Rated 4.0', 'RATED A beautiful place to d..."
1,Spice Elephant,Casual Dining,"[('Rated 4.0', 'RATED Had been here for dinn..."
2,San Churro Cafe,"Cafe, Casual Dining","[('Rated 3.0', 'RATED Ambience is not that g..."
3,Addhuri Udupi Bhojana,Quick Bites,"[('Rated 4.0', 'RATED Great food and proper ..."
4,Grand Village,Casual Dining,"[('Rated 4.0', 'RATED Very good restaurant i..."

In [101]:
# re.split("'Rated ",df_casual_review.reviews_list[1])[2].split("',")[1]

" 'RATED   The ambience is really nice, staff is courteous. The price is pretty high for the quantity, but overall the experience was fine. The quality of food is nice but nothing extraordinary. They also have buffet(only veg)'), ("

In [46]:
# (len(re.split("'Rated ",df_casual_review.reviews_list[1]))-1)

In [18]:
star = []
review = []
restaurant = []
restaurant_type = []
for i in range(len(df_review)):
    for j in range(len(re.split("'Rated ",df_review.reviews_list[i]))-1):
        restaurant.append(df_review.name[i])
        restaurant_type.append(df_review.rest_type[i])
        star.append(re.split("'Rated ",df_review.reviews_list[i])[j+1].split("',")[0])
        review.append(re.split("'Rated ",df_review.reviews_list[i])[j+1].split("',")[1])

In [19]:
# review

In [20]:
data = pd.DataFrame([restaurant,restaurant_type,star,review])

In [21]:
data = data.T

In [22]:
data.columns = ['restaurant','restaurant_type','rating','review']

In [23]:
data.review.replace(to_replace=r" 'RATED   ",value='',regex=True,inplace=True)
data.review.replace(to_replace=r"'\), \(",value='',regex=True,inplace=True)

In [31]:
data.review.replace(to_replace=r"[^a-zA-Z0-9']",value=' ',regex=True,inplace = True)
# data.rating = pd.to_numeric(data.rating)
# data.review = data.review.astype(str)

In [32]:
data.head(40)

,restaurant,restaurant_type,rating,review
0,Jalsa,Casual Dining,4.0,A beautiful place to dine in The interiors tak...
1,Jalsa,Casual Dining,4.0,I was here for dinner with my family on a week...
2,Jalsa,Casual Dining,2.0,Its a restaurant near to Banashankari BDA Me ...
3,Jalsa,Casual Dining,4.0,We went here on a weekend and one of us had th...
4,Jalsa,Casual Dining,5.0,The best thing about the place is it x83 x...
5,Jalsa,Casual Dining,5.0,Great food and pleasant ambience Expensive bu...
6,Jalsa,Casual Dining,4.0,Good ambience with tasty food Cheese chilli p...
7,Jalsa,Casual Dining,4.0,You can x83 x83 x82 x82 x83 x82 ...
8,Jalsa,Casual Dining,5.0,Overdelighted by the service and food provided...
9,Jalsa,Casual Dining,4.0,The place is nice and comfortable Food wise a...
10,Jalsa,Casual Dining,4.0,The place is nice and comfortable Food wise a...
11,Jalsa,Casual Dining,4.0,The place is nice and comfortable Food wise a...
12,Spice Elephant,Casual Dining,4.0,Had been here for dinner with family Turned o...
13,Spice Elephant,Casual Dining,3.0,The ambience is really nice staff is courteou...
14,Spice Elephant,Casual Dining,3.0,I felt good is little expensive for the quanti...
15,Spice Elephant,Casual Dining,4.0,I was looking for a quite place to spend some ...
16,Spice Elephant,Casual Dining,4.0,Nice place to dine and has a good ambiance ...
17,Spice Elephant,Casual Dining,5.0,This place just cool with good ambience and ...
18,Spice Elephant,Casual Dining,4.0,Quiet a good family type of place too calm a...
19,Spice Elephant,Casual Dining,2.0,I had a very bad experience here I don't know...
20,Spice Elephant,Casual Dining,4.0,Food 8 10 Ambience 8 10 Staff 8 10 One of the...
21,Spice Elephant,Casual Dining,3.0,A decent place for a family lunch or dinner ...
22,Spice Elephant,Casual Dining,4.0,Great place to have a heavy lunch Good servic...
23,Spice Elephant,Casual Dining,4.0,Its the one restaurant near katriguppe that i ...
24,Spice Elephant,Casual Dining,2.0,Spice elephant soup SPL almost manchow flavou...
25,Spice Elephant,Casual Dining,4.0,Zomato gold partner at this price It was insa...
26,San Churro Cafe,"Cafe, Casual Dining",3.0,Ambience is not that good enough and it's not ...
27,San Churro Cafe,"Cafe, Casual Dining",3.0,Went there for a quick bite with friends The ...
28,San Churro Cafe,"Cafe, Casual Dining",4.0,First of all a big thanks to the staff of thi...
29,San Churro Cafe,"Cafe, Casual Dining",3.0,A place for people who love churos Otherwise ...
30,San Churro Cafe,"Cafe, Casual Dining",3.0,Have been visiting this place since years The...
31,San Churro Cafe,"Cafe, Casual Dining",1.0,Really disappointed with the place Seems lik...
32,San Churro Cafe,"Cafe, Casual Dining",3.0,Congested atmosphere due to smoke from kitchen...
33,San Churro Cafe,"Cafe, Casual Dining",1.0,Cockroaches I Repeat cockroaches Bakasura ...
34,San Churro Cafe,"Cafe, Casual Dining",4.0,A nice place to hangout this place looks prof...
35,San Churro Cafe,"Cafe, Casual Dining",4.0,1 pizza mocktails shakes and churros really v...
36,San Churro Cafe,"Cafe, Casual Dining",3.0,One of my favourite places that I often visit ...
37,San Churro Cafe,"Cafe, Casual Dining",4.0,Visited this place long before place come to ...
38,San Churro Cafe,"Cafe, Casual Dining",4.0,Spain pictures of Churros triggered Nostalgia ...
39,San Churro Cafe,"Cafe, Casual Dining",3.0,x83 x83 x82 x82 x83 x82 x82 x...

In [34]:
data.restaurant.replace(to_replace=r"[^a-zA-Z0-9']",value=' ',regex=True,inplace = True)

In [35]:
data_unique = data.drop_duplicates().reset_index(drop = 'index')

In [36]:
data_unique.to_csv('data_unique.csv',encoding='UTF-8',index=False)