In [13]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
from nltk.corpus import stopwords
from collections import Counter

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [165]:
df = pd.read_csv('zomato.csv')
df.shape

(51717, 17)

In [166]:
df.drop_duplicates(['reviews_list'],inplace=True)

In [185]:
# Getting reviews of barbeque nation
df_bbn = pd.DataFrame()
restaurants = ["Bologna"]
for value in restaurants:
   
    df_restaurant=df[df.name == value][['reviews_list']].reset_index()
    df_restaurant.drop(columns='index',inplace=True)
    


    df_restaurant.replace(to_replace=r'\\n',value=' ',regex=True,inplace=True)
    df_restaurant.replace(to_replace=r"\(\'Rated \d\.0\'\,",value='',regex=True,inplace=True)
    df_restaurant.replace(to_replace=r"[^a-zA-Z\'\,\.]",value=' ',regex=True,inplace=True)
    df_restaurant.replace(to_replace=r"\s+",value=' ',regex=True,inplace=True)
    df_restaurant.replace(to_replace=r"\'\s\'",value=' ',regex=True,inplace=True)
    df_restaurant.replace(to_replace=r"\sx",value=' ',regex=True,inplace=True)

    df_restaurant['reviews_list_list']= df_restaurant.reviews_list.apply(lambda x:x[7:].split('RATED'))

    review_list = []
    for i in range(0,df_restaurant.shape[0]):
        for val in df_restaurant.reviews_list_list[i]:
            review_list.append(val)

    len(review_list)

    df_rest = pd.DataFrame({'restaurant':value,'review':review_list})
    df_bbn = pd.concat([df_bbn, df_rest], ignore_index=True)

In [186]:
df1 = df_bbn.drop_duplicates(['review'])
df1.head()

  restaurant                                             review
0    Bologna  Always wanted to visit this place as it serves...
1    Bologna   To start of with I guess the menu is too over...
2    Bologna   A dainty Italian place tucked in the the midd...
3    Bologna   Such a nice Italian place in Indiranagar. It ...
4    Bologna   Another amazing Italian place in this city. W...

In [187]:
df1.shape

(163, 2)

In [188]:
df_old=pd.read_excel('Restaurant_Review.xlsx').drop(['Unnamed: 0'],axis=1)
df_new = pd.concat([df_old,df1])

In [190]:
df_new.to_excel('Restaurant_Review.xlsx')